<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <label for="businessCategory">Business Category:</label>
    <select id="businessCategory"></select>
    <label for="asset">Asset:</label>
    <select id="asset"></select>
    <label for="location">Location (Lat, Long):</label>
    <select id="location"></select>
    <button id="startOver">Start Over</button>
</div>
<div id="chart">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Line Graph</title>
  <script src="https://d3js.org/d3.v6.min.js"></script>
</div>
<script src="linegraph.js"></script>

</body>
</html>
