<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Risk Data Table</title>
  
  <style>
    label, select {
        display: inline-block;
      }
    
  </style>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
<body>
    <label for="year">Select Year:</label>
    <select id="year" name="year" onchange="loadData()">
      <option value="2030">2030</option>
      <option value="2040">2040</option>
      <option value="2050">2050</option>
      <option value="2060">2060</option>
      <option value="2070">2070</option>
    </select>
    <table id="data-table" class="display">
      <thead>
        <tr>
          <th>Asset Name</th>
          <th>Lat</th>
          <th>Long</th>
          <th>Business Category</th>
          <th>Risk Rating</th>
          <th>Risk Factors</th>
        </tr>
      </thead>
    </table>
    <script src="table.js"></script>
</body>
</html>
